{{define "title"}}
    首页
{{end}}

{{define "main"}}
    <h2>最新记录</h2>
    {{if .Snippets}}
    <table>
        <tr>
            <th>标题</th>
            <th>创建时间</th>
            <th>ID</th>
        </tr>
        {{range .Snippets}}
        <tr>
<!--            <td><a href='/snippet/view?id={{.ID}}'>{{.Title}}</a></td>-->
            <td><a href='/snippet/view/{{.ID}}'>{{.Title}}</a></td>
            <!-- 使用自定义的时间转换方法 -->
            <td>{{humanDate .Created}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
    <p>暂无内容发布......</p>
    {{end}}
{{end}}