{{define "title"}}
    Snippet #{{.Snippet.ID}}
{{end}}

{{define "main"}}
<div class='snippet'>
    {{with .Snippet}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.ID}}</span>
        </div>
        <pre><code>{{.Content}}</code></pre>
        <div class='metadata'>
            <!-- 使用自定义方法，还能使用管道方式 -->
            <time>创建: {{.Created | humanDate}}</time>
            <time>失效: {{humanDate .Expires}}</time>
        </div>
    </div>
    {{end}}
</div>
{{end}}